body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.main-container, .main-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

#diagramme-container, #tableau-container {
    position: relative;
}

/* Styles pour rendre visibles les zones */
.dropzone {
    position: absolute;
    border: 3px dashed green;
    background-color: rgba(0, 255, 0, 0.3);
    box-sizing: border-box;
    text-align: center;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styles pour les éléments déplaçables */
.draggable {
    position: absolute;
    background-color: lightcoral;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    cursor: grab;
    text-align: center;
    color: white;
    font-weight: bold;
}



button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#diagramme-message, #tableau-message {
    font-weight: bold;
    color: red;
}
